body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid black;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style: italic;
  color: gray;
}
a{
  font-weight: bold;
  text-decoration:none;
}
p img{
  width: 1%;
}

nav>ul {
  border-bottom: thin solid black;
}

h1{
  border-bottom: thick solid black;
}